<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Helion Stackato Console">
     <test name="Stratos Console Functional Test">
	<parameter name="url" value="http://console.ravikumar-venkatesan.stacktest.io/"/>
        <parameter name="browser" value="chrome"/>
	<parameter name="nonadminuser" value="ravi1"/>
	<parameter name="nonadminpwd" value="ravi1"/>
	<parameter name="adminuser" value="admin@cnap.local"/>
	<parameter name="adminpwd" value="cnapadmin"/>
	<parameter name="clusterurl" value="https://api.cnapqe1.domain.com.ravikumar-venkatesan.stacktest.io/"/>
	<parameter name="clusteruser" value="admin"/>
	<parameter name="clusterpwd" value="changeme"/>
	<parameter name="hceurl" value="http://hce.ravikumar-venkatesan.stacktest.io/"/>
	<parameter name="hceuser" value="admin@cnap.local"/>
	<parameter name="hcepwd" value="cnapadmin"/>
       	   <classes>
        	<class name="com.helion.selenium.StratosConsole.TestStackatoConsole" />
           </classes>
     </test>
</suite>
